:root {
--main-color-50: #20BBEC;
--main-color-100:#1DAAD7;
--main-color-200: #1785A8;
  /* BACKGROUND COLOR */
--main-50:  #fdfefe;
--main-100: #fafafd;
--main-200: #e9e9f3;
--main-300: #d9dcee;
--main-400: #c4c7d8;
--main-500: #a2a4ad;
--main-600: #494949;
--main-700: #313131;
--main-800: #222222;
--main-900: #030303;

/* Black */
--black-sec-50:  #E9E9E9;
--black-sec-100: #BCBCBC;
--black-sec-200: #9B9B9B;
--black-sec-300: #6E6E6E;
--black-sec-400: #515151;
--black-sec-500: #262626;
--black-sec-600: #232323;
--black-sec-700: #1B1B1B;
--black-sec-800: #151515;
--black-sec-900: #101010;

/* Spacing */
--spacing-04: 0.25;
--spacing-08: 0.5;
--spacing-10: 0.625;
--spacing-12: 0.75;
--spacing-14: 0.875;
--spacing-16: 1;
--spacing-18: 1.125;
--spacing-20: 1.25;
--spacing-22: 1.375;
--spacing-24: 1.5;
--spacing-26: 1.625;
--spacing-28: 1.75;
--spacing-30: 1.875;
--spacing-32: 2;

/* FONTS SIZE */
--font-10: 0.625rem;   
--font-12: 0.75rem;    
--font-14: 0.875rem;   
--font-16: 1rem;       
--font-18: 1.125rem;   
--font-20: 1.25rem;    
--font-22: 1.375rem;    
--font-24: 1.5rem;    
--font-26: 1.625rem;    
--font-28: 1.75rem;    
--font-30: 1.875rem;    
--font-32: 2rem;    
--font-34: 2.125rem;    
--font-36: 2.25rem;    

   /* BORDER RADIOUS */
   --border-radius-0: 0px;
   --border-radius-2: 2px;
   --border-radius-4: 4px;
   --border-radius-6: 6px;
   --border-radius-10: 10px;
   --border-radius-12: 12px;
   --border-radius-14: 14px;
   --border-radius-16: 16px;
   --border-radius-18: 18px;
   --border-radius-20: 20px;
   --border-radius-22: 22px;
   --border-radius-24: 24px;
   --border-radius-26: 26px;
   --border-radius-28: 28px;
   --border-radius-30: 30px;
   --border-radius-32: 32px;

/* BACKGROUND COLOR */
--primary-background: #fff;
--accordion-background: #EFF0F7;
--bg-white:#fff;

/* TEXT COLOR  */
--primary-font: #101828; 
--secondary-font: #475467;
--primary-button-text: #ffffff;
--cancel-button-text: #0d0e0d;

--txt-white:#fff;

/* BUTTON COLOR */
--confirm-button-background:#0d0e0d;
--confirm-button-background-hover:#2f2f37;
--cancel-button-background: #eff0f7;
--tab-hover: #e0e1ea;

/* BORDER COLOR */
--border-clr: #b4b6c4;
--border-btn-clr:#0d0e0d;

/* COMMON COLOURS FOR BACKGROUND , TEXT & BORDER */
--common-main-clr:#EFF0F7;

/* ICON COLOR */
--primary-icon:#344054;
--secondary-icon:#8389B4;


/* FORM COLOR */
--form-border-color:#b4b6c4;
--form-background-color:#fff;
--form-text-color:#0D0D0E;
--form-placeholder-color:#b4b6c4;


/* FONTS */
--roboto-light:robotolight;
--roboto-regular:robotoregular;
--roboto-medium:robotomedium;
--roboto-bold:robotobold;
--poppins-regualar:poppinsregular;


/* FONTS SIZE */
--font-10: 0.625rem;   
--font-12: 0.75rem;    
--font-14: 0.875rem;   
--font-16: 1rem;       
--font-18: 1.125rem;   
--font-20: 1.25rem;    

/* FONTS WEIGHT */ 
--font-weight-lighter:lighter;
--font-weight-light:300;
--font-weight-normal:400;
--font-weight-bold:700;
--font-weight-bolder:bolder;

/* BORDER WIDTH */
--border-1: 1px; 
--border-2: 2px; 
--border-3: 3px; 
--border-4: 4px; 
--border-5: 5px;
--border-10: 10px;

/* BORDER RADIOUS */
--border-radius-0:0px;
--border-radius-1:1px;
--border-radius-2:2px;
--border-radius-3:3px;
--border-radius-4:4px;
--border-radius-5:5px;
--border-radius-10:10px;
--border-radius-15:15px;
--border-radius-20:20px;
--border-radius-25:25px;
--border-radius-30:30px;

/* LINE HEIGHT */
--line-height:1.5;
--line-height-sm:1.25;
--line-height-lg:2;
}

/*----------------COMPONENT----------------- */
/* FONT SIZE */
.font-10{font-size: var(--font-10) !important}
.font-12{font-size:var(--font-12) !important}    
.font-14{font-size:var(--font-14) !important}    
.font-16{font-size:var(--font-16) !important}    
.font-18{font-size:var(--font-18) !important}    
.font-20{font-size:var(--font-20) !important}

/* FONT */
@font-face {
 font-family: 'poppinsregular';
 src: url('fonts/poppins/poppins-regular-webfont.woff2') ,
      url('fonts/poppins/poppins-regular-webfont.woff') ;
 font-weight: normal;
 font-style: normal;
 line-height: 2;
}
/* CSS */
body {
font-family:poppinsregular !important;
font-weight: normal;
}

/* common style */
.opacity5 {
opacity: .5;
}
.logo {
width: 120px;
}
.logo img{
width: 100%;
}

.payment-area {
background:  var(--primary-background);
box-shadow: 12px 12px 36px 6px rgba(2, 2, 70, 0.12);
border-radius: var(--border-radius-15);
width: 800px;
}


/* Create an active/current "tab button" class */

.accordion {
width: 100%;
}
.accordion-button,.accordion-collapse{
background-color: var(--bg-white) !important;
}
.accordion-button{
color: var(--primary-font);
font-weight: var(--font-weight-bold);
}
.accordion-button:not(.collapsed){
background-color: var(--accordion-background) !important;
border: none;
color: var(--primary-font);
box-shadow:none !important;
}
.accordion-collapse{
background-color: var(--accordion-background) !important;
border: none;
}

.accordion-button svg{
width: 30px;
height: 30px;
}
.accordion-body label{
color: var(--primary-font);
font-weight: var(--font-weight-normal);
line-height: var(--line-height-lg);
}
.accordion-body .cardsave label{
line-height:var(--line-height);
}



/* bootstrap Form */

.pay_btn {
background-color: var(--confirm-button-background) !important;
color: var(--primary-button-text) !important;

}

.pay_btn:hover,
.pay_btn:focus {
background-color: var(--confirm-button-background-hover);
box-shadow: none;
}

.cancel_btn {
background-color: var(--cancel-button-background) !important;
color: var(--cancel-button-text) !important;
}

.pay_btn,
.cancel_btn {
border-color: var(--border-btn-clr) !important;
border-style: solid !important;
border-width: var(--border-1) !important;
border-radius: var(--border-radius-5) !important;
height: 50px;
}

/* payment-information section */
.payment-info {
font-size: var(--font-14);
color: var(--secondary-font); 
}
.payment-info svg{
width: 30px;
height: 30px;
}
.icon-stroke{
stroke: var(--primary-icon);
}
.icon-fill{
fill: var(--primary-icon);
}

.bank-ico {
height: 30px;
margin-right: 8px;
vertical-align: middle;
}

.wallet-section {
display: flex;
align-items: center;
font-size: var(--font-14);
}
.wallet-section .wallet-logo {
display: inline-block;
width: 40px;
height: 40px;
border-color: var(--border-clr) !important;
border-style: solid !important;
border-width: var(--border-1) !important;
border-radius: 50%;
background-color: var(--bg-white);
/* box-shadow: 1px 2px 9px #8389b4; */
position: relative;
}
.wallet-section img {
width: 22px;
height: 22px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.checkout_bg {
background-color: var(--checkout-background);
}

/* FORMS */
.form-control,.form-select{
border-color: var(--form-border-color) !important;
  border-style: solid !important;
  border-width: var(--border-1) !important;
  border-radius: var(--border-radius-5) !important;
  color: var(--form-text-color) !important;
  background-color: var(--form-background-color) !important;
}
.form-check-input{
border-color: var(--form-border-color) !important;
  border-style: solid !important;
  border-width: var(--border-1) !important;
}
.form-check-label{
line-height: var(--line-height);
}
::placeholder { 
color: var(--form-placeholder-color) !important;
opacity: 1; 
}

:-ms-input-placeholder { 
color:  var(--form-placeholder-color)  !important;
}

::-ms-input-placeholder { 
color:  var(--form-placeholder-color) !important;
}
.form-control:focus,.form-select:focus{
box-shadow: none !important;
}
/* carousel */
.carousel-inner{
width: 30px !important;
}
.carousel-item img{
width: 30px;
height: 30px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.col-xs-6 {
  width: 50%;
}
.tabcontent {
  padding: 10px 0px;
}
.pay_btn,
.res-w-100 {
  width: 100%;
}

.form-check-label {
  font-size: var(--font-14);
  font-weight: var(--font-weight-bold);
}

.bank-ico {
  height: 22px;
}
.payment-area {
  width: 100%;
}
}


/* KYC */

.opacity_3{
opacity: 0.3;
}

.text-primary {
font-size: var(--font-20);
font-weight: var(--font-weight-bold);
color: var(--primary-font) !important;
}


.headersession {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 26' fill='none'%3E%3Cg clip-path='url(%23clip0_4989_4480)'%3E%3Cpath d='M14.9749 0.797852H1.6416C0.952442 0.797852 0.391602 1.35869 0.391602 2.04785C0.391602 2.73701 0.952442 3.29785 1.6416 3.29785H14.975C15.6641 3.29785 16.225 2.73701 16.225 2.04785C16.225 1.35869 15.6641 0.797852 14.9749 0.797852ZM14.9749 2.4645H1.6416C1.41201 2.4645 1.22495 2.27783 1.22495 2.04785C1.22495 1.81787 1.41201 1.6312 1.6416 1.6312H14.975C15.2045 1.6312 15.3916 1.81787 15.3916 2.04785C15.3916 2.27783 15.2045 2.4645 14.9749 2.4645ZM14.9749 23.2979H1.6416C0.952442 23.2979 0.391602 23.8587 0.391602 24.5479C0.391602 25.237 0.952442 25.7979 1.6416 25.7979H14.975C15.6641 25.7979 16.225 25.237 16.225 24.5479C16.225 23.8587 15.6641 23.2979 14.9749 23.2979ZM14.9749 24.9645H1.6416C1.41201 24.9645 1.22495 24.7778 1.22495 24.5479C1.22495 24.3179 1.41201 24.1312 1.6416 24.1312H14.975C15.2045 24.1312 15.3916 24.3179 15.3916 24.5479C15.3916 24.7778 15.2045 24.9645 14.9749 24.9645Z' fill='%23080808'/%3E%3Cpath d='M11.2749 11.7485C13.3907 9.63272 14.5557 6.81978 14.5557 3.82813V2.87856C14.5557 2.82384 14.5449 2.76966 14.524 2.7191C14.5031 2.66854 14.4724 2.6226 14.4337 2.58391C14.395 2.54521 14.349 2.51452 14.2985 2.49359C14.2479 2.47266 14.1937 2.46189 14.139 2.46191H2.47231C2.41759 2.46189 2.36341 2.47266 2.31285 2.49359C2.26229 2.51452 2.21635 2.54521 2.17766 2.58391C2.13896 2.6226 2.10827 2.66854 2.08734 2.7191C2.06641 2.76966 2.05564 2.82384 2.05566 2.87856V3.82813C2.05566 6.82022 3.22065 9.63272 5.33608 11.7485L5.75483 12.1673C6.0519 12.4644 6.22231 12.8752 6.22231 13.2952C6.22231 13.7152 6.0519 14.1261 5.75522 14.4231L5.33647 14.8419C3.22065 16.9577 2.05566 19.7702 2.05566 22.7623V23.7119C2.05564 23.7666 2.06641 23.8208 2.08734 23.8713C2.10827 23.9219 2.13896 23.9678 2.17766 24.0065C2.21635 24.0452 2.26229 24.0759 2.31285 24.0968C2.36341 24.1178 2.41759 24.1285 2.47231 24.1285H14.139C14.1937 24.1285 14.2479 24.1178 14.2984 24.0968C14.349 24.0759 14.3949 24.0452 14.4336 24.0065C14.4723 23.9678 14.503 23.9219 14.5239 23.8713C14.5449 23.8208 14.5556 23.7666 14.5556 23.7119V22.7623C14.5556 19.7707 13.3906 16.9577 11.2748 14.8419L10.8561 14.4231C10.5548 14.1219 10.389 13.7215 10.389 13.2952C10.389 12.8689 10.5548 12.4686 10.8561 12.1673L11.2749 11.7485ZM10.2669 11.5781C9.80815 12.0365 9.55567 12.646 9.55567 13.2952C9.55567 13.9444 9.80815 14.554 10.2669 15.0123L10.6856 15.4311C12.644 17.3894 13.7223 19.9931 13.7223 22.7623V23.2952H2.88901V22.7623C2.88901 19.9927 3.96733 17.3894 5.92524 15.4311L6.34399 15.0123C6.80317 14.554 7.05566 13.9439 7.05566 13.2952C7.05566 12.6465 6.80317 12.0365 6.34443 11.5781L5.92568 11.1594C3.96733 9.20103 2.88901 6.59727 2.88901 3.82813V3.29522H13.7224V3.82813C13.7224 6.59732 12.644 9.20103 10.6857 11.1594L10.2669 11.5781Z' fill='%23080808'/%3E%3Cpath d='M11.829 7.81439C11.787 7.70858 11.6436 7.46146 11.2245 7.46146C9.05946 7.46146 8.09486 6.99769 7.71234 6.72103C7.23524 6.37562 6.62318 6.28519 6.07357 6.47977C5.54901 6.66517 5.16483 7.07767 5.02025 7.61102C4.98275 7.74979 4.97606 7.83978 4.97606 7.83978C4.96981 7.92186 4.98773 8.01063 5.02816 8.0827C5.41859 8.77479 5.86898 9.50477 6.51732 10.1531L6.93563 10.5719C7.55189 11.1873 7.89105 12.0064 7.89105 12.8781C7.89103 12.9328 7.9018 12.987 7.92273 13.0376C7.94366 13.0881 7.97435 13.1341 8.01304 13.1728C8.05174 13.2115 8.09768 13.2421 8.14823 13.2631C8.19879 13.284 8.25298 13.2948 8.3077 13.2948C8.36242 13.2948 8.41661 13.284 8.46717 13.2631C8.51773 13.2421 8.56367 13.2115 8.60236 13.1728C8.64106 13.1341 8.67174 13.0881 8.69268 13.0376C8.71361 12.987 8.72437 12.9328 8.72435 12.8781C8.72435 12.0069 9.06351 11.1877 9.67933 10.5719L10.0985 10.1527C10.2015 10.0502 10.3356 9.92352 10.4831 9.78519C11.5603 8.7723 12.0132 8.27938 11.829 7.81439ZM9.91156 9.17816C9.75741 9.32357 9.61654 9.45609 9.50907 9.56356L9.08988 9.98275C8.77079 10.3008 8.50639 10.6694 8.30736 11.0736C8.10836 10.6694 7.84397 10.3008 7.52484 9.98275L7.10648 9.564C6.59481 9.05193 6.22025 8.48816 5.83065 7.80857C5.93358 7.46067 6.20023 7.31898 6.3515 7.26522C6.64232 7.16229 6.96859 7.21106 7.22357 7.39607C7.75438 7.78025 8.80106 8.23314 10.8061 8.289C10.5486 8.57899 10.1445 8.95941 9.91156 9.17816ZM12.8624 22.0123C12.7578 20.6615 12.2162 20.1006 11.5895 19.4506C11.5049 19.3627 11.4166 19.2715 11.3262 19.1748C10.8028 18.6156 10.0637 18.2948 9.2974 18.2948H7.31781C6.55199 18.2948 5.81239 18.6157 5.28905 19.1748C5.19862 19.2715 5.11073 19.3623 5.02611 19.4502C4.39901 20.1002 3.85736 20.6615 3.75321 22.0127C3.74875 22.07 3.75618 22.1276 3.77504 22.1819C3.79389 22.2362 3.82377 22.286 3.86278 22.3282C3.90185 22.3702 3.94917 22.4038 4.00179 22.4267C4.0544 22.4497 4.11119 22.4615 4.16859 22.4615H12.4469C12.5043 22.4615 12.5612 22.4496 12.6138 22.4266C12.6664 22.4036 12.7137 22.3699 12.7527 22.3278C12.7916 22.2855 12.8215 22.2357 12.8403 22.1814C12.8592 22.1272 12.8667 22.0696 12.8624 22.0123ZM4.6432 21.6282C4.78446 20.9007 5.12113 20.5523 5.62611 20.029C5.71733 19.9346 5.80789 19.8396 5.89779 19.744C6.26405 19.3523 6.78153 19.1282 7.31781 19.1282H9.2974C9.83407 19.1282 10.3516 19.3527 10.7178 19.7436C10.8116 19.8444 10.9024 19.9382 10.9903 20.0294C11.4949 20.5528 11.8311 20.9011 11.9728 21.6282H4.6432ZM8.2953 14.1282C8.24058 14.1281 8.18639 14.1389 8.13583 14.1598C8.08527 14.1808 8.03933 14.2115 8.00064 14.2501C7.96195 14.2888 7.93126 14.3348 7.91033 14.3853C7.88939 14.4359 7.87863 14.4901 7.87865 14.5448V14.9615C7.87863 15.0162 7.88939 15.0704 7.91033 15.1209C7.93126 15.1715 7.96195 15.2174 8.00064 15.2561C8.03933 15.2948 8.08527 15.3255 8.13583 15.3464C8.18639 15.3674 8.24058 15.3781 8.2953 15.3781C8.35002 15.3781 8.40421 15.3674 8.45477 15.3464C8.50533 15.3255 8.55127 15.2948 8.58996 15.2561C8.62865 15.2174 8.65934 15.1715 8.68027 15.1209C8.70121 15.0704 8.71197 15.0162 8.71195 14.9615V14.5448C8.71197 14.4901 8.70121 14.4359 8.68027 14.3853C8.65934 14.3348 8.62865 14.2888 8.58996 14.2501C8.55127 14.2115 8.50533 14.1808 8.45477 14.1598C8.40421 14.1389 8.35002 14.1281 8.2953 14.1282ZM8.2953 16.2115C8.24058 16.2114 8.18639 16.2222 8.13583 16.2431C8.08527 16.2641 8.03933 16.2948 8.00064 16.3334C7.96195 16.3721 7.93126 16.4181 7.91033 16.4686C7.88939 16.5192 7.87863 16.5734 7.87865 16.6281V17.0448C7.87863 17.0995 7.88939 17.1537 7.91033 17.2042C7.93126 17.2548 7.96195 17.3007 8.00064 17.3394C8.03933 17.3781 8.08527 17.4088 8.13583 17.4297C8.18639 17.4507 8.24058 17.4614 8.2953 17.4614C8.35002 17.4614 8.40421 17.4507 8.45477 17.4297C8.50533 17.4088 8.55127 17.3781 8.58996 17.3394C8.62865 17.3007 8.65934 17.2548 8.68027 17.2042C8.70121 17.1537 8.71197 17.0995 8.71195 17.0448V16.6281C8.71196 16.5734 8.70119 16.5192 8.68026 16.4686C8.65933 16.4181 8.62864 16.3722 8.58994 16.3335C8.55125 16.2948 8.50532 16.2641 8.45476 16.2431C8.4042 16.2222 8.35002 16.2114 8.2953 16.2115Z' fill='%23080808'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4989_4480'%3E%3Crect width='17' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}
.headerorder {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' viewBox='0 0 22 27' fill='none'%3E%3Cg clip-path='url(%23clip0_4989_4484)'%3E%3Cpath d='M19.3286 3.59131H16.663C16.5478 3.59131 16.4373 3.63836 16.3559 3.72214C16.2745 3.8059 16.2287 3.91952 16.2287 4.03799C16.2287 4.15646 16.2745 4.27008 16.3559 4.35384C16.4373 4.43762 16.5478 4.48467 16.663 4.48467H19.3286C20.0469 4.48467 20.6314 5.08547 20.6314 5.82474V24.5677C20.6314 25.3065 20.0469 25.9078 19.3286 25.9078H2.6714C1.9531 25.9078 1.36856 25.3065 1.36856 24.5677V5.82474C1.36856 5.08547 1.9531 4.48467 2.6714 4.48467H5.337C5.45218 4.48467 5.56264 4.43762 5.64409 4.35384C5.72552 4.27008 5.77128 4.15646 5.77128 4.03799C5.77128 3.91952 5.72552 3.8059 5.64409 3.72214C5.56264 3.63836 5.45218 3.59131 5.337 3.59131H2.6714C1.47409 3.59131 0.5 4.59322 0.5 5.82474V24.5677C0.5 25.7992 1.47409 26.8012 2.6714 26.8012H19.3286C20.5259 26.8012 21.5 25.7992 21.5 24.5677V5.82474C21.5 4.59322 20.5259 3.59131 19.3286 3.59131Z' fill='%23545873'/%3E%3Cpath d='M3.53965 5.28967C2.82135 5.28967 2.23682 5.89046 2.23682 6.62973V23.6745C2.23682 24.4132 2.82135 25.0144 3.53965 25.0144H10.9997C11.1149 25.0144 11.2253 24.9674 11.3068 24.8836C11.3882 24.7998 11.434 24.6862 11.434 24.5678C11.434 24.4494 11.3882 24.3357 11.3068 24.2519C11.2253 24.1681 11.1149 24.1212 10.9997 24.1212H3.53965C3.30036 24.1212 3.10538 23.9205 3.10538 23.6745V6.62973C3.10538 6.3836 3.30036 6.18304 3.53965 6.18304H18.4597C18.699 6.18304 18.894 6.3836 18.894 6.62973V23.6745C18.894 23.9205 18.699 24.1212 18.4597 24.1212H12.9131C12.7979 24.1212 12.6875 24.1681 12.6061 24.2519C12.5246 24.3357 12.4788 24.4494 12.4788 24.5678C12.4788 24.6862 12.5246 24.7998 12.6061 24.8836C12.6875 24.9674 12.7979 25.0144 12.9131 25.0144H18.4597C19.178 25.0144 19.7626 24.4132 19.7626 23.6745V6.62973C19.7626 5.8909 19.178 5.28967 18.4597 5.28967H15.2799C15.3286 5.14896 15.3598 5.00022 15.3598 4.84298V3.23312C15.3598 2.4943 14.7753 1.89306 14.057 1.89306H13.0873C12.9509 0.827711 12.072 0 10.9997 0C9.92746 0 9.04848 0.827711 8.91212 1.89306H7.94237C7.22407 1.89306 6.63953 2.49385 6.63953 3.23312V4.84298C6.63953 5.00022 6.6708 5.14896 6.71944 5.28967H3.53965ZM10.9997 0.893374C11.5925 0.893374 12.0906 1.32175 12.2157 1.89306H9.78371C9.84651 1.60949 10.001 1.35622 10.2218 1.17463C10.4427 0.993048 10.7169 0.893893 10.9997 0.893374ZM7.50809 4.84298V3.23312C7.50809 2.987 7.70264 2.78643 7.94237 2.78643H14.057C14.2967 2.78643 14.4913 2.987 14.4913 3.23312V4.84298C14.4913 5.0891 14.2967 5.28967 14.057 5.28967H7.94237C7.70264 5.28967 7.50809 5.0891 7.50809 4.84298Z' fill='%23545873'/%3E%3Cpath d='M8.57404 9.02727C8.49261 8.94353 8.38217 8.89648 8.26701 8.89648C8.15185 8.89648 8.04141 8.94353 7.95997 9.02727L5.7686 11.2808L5.0477 10.5393C5.0076 10.4967 4.95966 10.4627 4.90667 10.4393C4.85366 10.4159 4.79667 10.4037 4.739 10.4032C4.68135 10.4027 4.62416 10.4141 4.57081 10.4366C4.51745 10.459 4.46899 10.4923 4.42824 10.5342C4.38749 10.5762 4.35529 10.6261 4.33349 10.681C4.31169 10.7359 4.30074 10.7947 4.30129 10.8541C4.30182 10.9134 4.31385 10.9719 4.33664 11.0265C4.35944 11.0809 4.39255 11.1302 4.43406 11.1714L5.46157 12.2283C5.54301 12.312 5.65345 12.359 5.7686 12.359C5.88375 12.359 5.99419 12.312 6.07563 12.2283L8.57404 9.65889C8.65546 9.57512 8.7012 9.46153 8.7012 9.34309C8.7012 9.22463 8.65546 9.11104 8.57404 9.02727ZM8.57404 13.5513C8.49261 13.4676 8.38217 13.4205 8.26701 13.4205C8.15185 13.4205 8.04141 13.4676 7.95997 13.5513L5.7686 15.8054L5.0477 15.0638C5.0076 15.0212 4.95966 14.9871 4.90667 14.9638C4.85366 14.9404 4.79667 14.9282 4.739 14.9276C4.68135 14.9272 4.62416 14.9385 4.57081 14.961C4.51745 14.9836 4.46899 15.0167 4.42824 15.0587C4.38749 15.1007 4.35529 15.1505 4.33349 15.2055C4.31169 15.2604 4.30074 15.3192 4.30129 15.3785C4.30182 15.4378 4.31385 15.4965 4.33664 15.5509C4.35944 15.6054 4.39255 15.6547 4.43406 15.6958L5.46157 16.7527C5.50181 16.7943 5.54964 16.8274 5.60233 16.8499C5.65503 16.8725 5.71153 16.8841 5.7686 16.8841C5.82567 16.8841 5.88217 16.8725 5.93487 16.8499C5.98756 16.8274 6.0354 16.7943 6.07563 16.7527L8.57404 14.183C8.65546 14.0992 8.7012 13.9856 8.7012 13.8671C8.7012 13.7487 8.65546 13.6351 8.57404 13.5513ZM7.95997 18.0758L5.7686 20.3298L5.0477 19.5883C5.0076 19.5456 4.95966 19.5117 4.90667 19.4883C4.85366 19.4649 4.79667 19.4526 4.739 19.4522C4.68135 19.4516 4.62416 19.4631 4.57081 19.4856C4.51745 19.508 4.46899 19.5413 4.42824 19.5832C4.38749 19.6252 4.35529 19.6751 4.33349 19.73C4.31169 19.7849 4.30074 19.8437 4.30129 19.9031C4.30182 19.9624 4.31385 20.0209 4.33664 20.0755C4.35944 20.1299 4.39255 20.1791 4.43406 20.2204L5.46157 21.2772C5.50181 21.3189 5.54964 21.3519 5.60233 21.3744C5.65503 21.3969 5.71153 21.4086 5.7686 21.4086C5.82567 21.4086 5.88217 21.3969 5.93487 21.3744C5.98756 21.3519 6.0354 21.3189 6.07563 21.2772L8.57404 18.7074C8.61552 18.6663 8.64861 18.6169 8.67137 18.5625C8.69412 18.5079 8.7061 18.4493 8.70661 18.39C8.70711 18.3307 8.69612 18.2719 8.67429 18.217C8.65245 18.1621 8.6202 18.1122 8.57943 18.0703C8.53865 18.0283 8.49016 17.9952 8.43679 17.9727C8.38342 17.9502 8.32623 17.9389 8.26857 17.9394C8.21091 17.94 8.15392 17.9523 8.10094 17.9757C8.04795 17.9992 8.00003 18.0332 7.95997 18.0758ZM10.8814 11.0744H17.2574C17.3726 11.0744 17.4831 11.0274 17.5645 10.9436C17.646 10.8598 17.6917 10.7462 17.6917 10.6278C17.6917 10.5093 17.646 10.3957 17.5645 10.3119C17.4831 10.2281 17.3726 10.1811 17.2574 10.1811H10.8814C10.7662 10.1811 10.6557 10.2281 10.5743 10.3119C10.4928 10.3957 10.4471 10.5093 10.4471 10.6278C10.4471 10.7462 10.4928 10.8598 10.5743 10.9436C10.6557 11.0274 10.7662 11.0744 10.8814 11.0744ZM10.8814 15.5985H17.2574C17.3726 15.5985 17.4831 15.5514 17.5645 15.4676C17.646 15.3839 17.6917 15.2703 17.6917 15.1518C17.6917 15.0334 17.646 14.9198 17.5645 14.8359C17.4831 14.7521 17.3726 14.7052 17.2574 14.7052H10.8814C10.7662 14.7052 10.6557 14.7521 10.5743 14.8359C10.4928 14.9198 10.4471 15.0334 10.4471 15.1518C10.4471 15.2703 10.4928 15.3839 10.5743 15.4676C10.6557 15.5514 10.7662 15.5985 10.8814 15.5985ZM10.8814 20.1234H17.2574C17.3726 20.1234 17.4831 20.0763 17.5645 19.9926C17.646 19.9088 17.6917 19.7952 17.6917 19.6767C17.6917 19.5582 17.646 19.4446 17.5645 19.3609C17.4831 19.2771 17.3726 19.23 17.2574 19.23H10.8814C10.7662 19.23 10.6557 19.2771 10.5743 19.3609C10.4928 19.4446 10.4471 19.5582 10.4471 19.6767C10.4471 19.7952 10.4928 19.9088 10.5743 19.9926C10.6557 20.0763 10.7662 20.1234 10.8814 20.1234Z' fill='%23545873'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4989_4484'%3E%3Crect width='21' height='27' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}
.headercountry {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 26' fill='none'%3E%3Cg clip-path='url(%23clip0_4989_4488)'%3E%3Cpath d='M15.7107 17.3157C18.371 13.1412 18.0366 13.662 18.1133 13.5532C19.0818 12.1871 19.5938 10.5792 19.5938 8.90332C19.5938 4.45898 15.9873 0.797852 11.5371 0.797852C7.10146 0.797852 3.48047 4.45176 3.48047 8.90332C3.48047 10.5781 4.00313 12.2281 5.00342 13.6126L7.36338 17.3157C4.84019 17.7035 0.550781 18.859 0.550781 21.4033C0.550781 22.3308 1.15615 23.6526 4.04014 24.6826C6.05391 25.4018 8.71636 25.7979 11.5371 25.7979C16.8118 25.7979 22.5234 24.31 22.5234 21.4033C22.5234 18.8585 18.2391 17.7042 15.7107 17.3157ZM6.227 12.8069C6.21895 12.7943 6.21053 12.782 6.20176 12.7699C5.36938 11.6248 4.94531 10.2676 4.94531 8.90332C4.94531 5.24033 7.89482 2.2627 11.5371 2.2627C15.1718 2.2627 18.1289 5.24165 18.1289 8.90332C18.1289 10.2698 17.7128 11.5809 16.9255 12.6958C16.8549 12.7889 17.223 12.217 11.5371 21.1391L6.227 12.8069ZM11.5371 24.333C5.77568 24.333 2.01562 22.6395 2.01562 21.4033C2.01562 20.5725 3.94766 19.2063 8.22891 18.6738L10.9194 22.8956C10.9856 22.9995 11.0769 23.0849 11.1848 23.1442C11.2928 23.2034 11.4139 23.2344 11.5371 23.2344C11.6602 23.2344 11.7813 23.2034 11.8893 23.1442C11.9972 23.0849 12.0885 22.9995 12.1547 22.8956L14.8452 18.6738C19.1265 19.2063 21.0586 20.5725 21.0586 21.4033C21.0586 22.629 17.3324 24.333 11.5371 24.333Z' fill='%23080808'/%3E%3Cpath d='M11.5371 5.24121C9.51782 5.24121 7.875 6.88403 7.875 8.90332C7.875 10.9226 9.51782 12.5654 11.5371 12.5654C13.5564 12.5654 15.1992 10.9226 15.1992 8.90332C15.1992 6.88403 13.5564 5.24121 11.5371 5.24121ZM11.5371 11.1006C10.3255 11.1006 9.33984 10.1149 9.33984 8.90332C9.33984 7.69175 10.3255 6.70605 11.5371 6.70605C12.7487 6.70605 13.7344 7.69175 13.7344 8.90332C13.7344 10.1149 12.7487 11.1006 11.5371 11.1006Z' fill='%23080808'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4989_4488'%3E%3Crect width='23' height='26' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}
.headercurrency {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 30 26' fill='none'%3E%3Cg clip-path='url(%23clip0_4989_4491)'%3E%3Cpath d='M29.2492 14.4392L23.7587 0.652804C23.731 0.583146 23.6898 0.519629 23.6375 0.465879C23.5853 0.412129 23.5229 0.369199 23.4541 0.339541C23.3852 0.309882 23.3112 0.294076 23.2363 0.293025C23.1613 0.291974 23.0869 0.305698 23.0172 0.333414L0.742564 9.20299C0.651736 9.24225 0.572944 9.30489 0.514224 9.38453C0.423321 9.43173 0.346978 9.50279 0.293378 9.59008C0.239778 9.67737 0.210942 9.7776 0.209961 9.88002V24.7221C0.209961 24.8735 0.270104 25.0187 0.377159 25.1258C0.484214 25.2328 0.629412 25.293 0.780811 25.293H24.7565C24.9079 25.293 25.0531 25.2328 25.1602 25.1258C25.2672 25.0187 25.3274 24.8735 25.3274 24.7221V16.6161L28.9306 15.1809C29.0002 15.1532 29.0637 15.1119 29.1174 15.0596C29.1711 15.0073 29.2139 14.9449 29.2435 14.8761C29.2731 14.8072 29.2889 14.7332 29.2898 14.6582C29.2908 14.5832 29.277 14.5088 29.2492 14.4392ZM24.1857 24.1513H1.35166V10.4509H24.1857V24.1513ZM9.73459 9.31203L19.2929 5.50332C19.7151 5.94705 20.2226 6.30081 20.785 6.54331C21.3475 6.78582 21.9531 6.91207 22.5656 6.91446L23.5189 9.31203H9.73459ZM25.3274 15.3899V9.88002C25.3274 9.72862 25.2672 9.58343 25.1602 9.47637C25.0531 9.36932 24.9079 9.30917 24.7565 9.30917H24.7474L23.5377 6.27111C23.5244 6.24576 23.5087 6.22169 23.4909 6.19918C23.4613 6.06624 23.3846 5.94849 23.275 5.8677C23.1653 5.7869 23.0301 5.74851 22.8944 5.75963C22.3276 5.8113 21.7569 5.72045 21.2342 5.49533C20.7115 5.27021 20.2533 4.91797 19.9014 4.47065C19.8154 4.36447 19.6938 4.29303 19.5592 4.26953C19.4246 4.24602 19.286 4.27204 19.169 4.34278C19.1419 4.34601 19.115 4.35096 19.0885 4.35762L7.41922 9.00434C7.34933 9.03173 7.2856 9.0728 7.23178 9.12515C7.17797 9.17749 7.13515 9.24006 7.10583 9.30917H3.56199L22.9092 1.60555L27.9778 14.3327L25.3274 15.3899Z' fill='%23080808'/%3E%3Cpath d='M2.90075 20.2977C3.44624 20.4589 3.94279 20.7539 4.34526 21.1559C4.74773 21.5579 5.04336 22.054 5.20527 22.5993C5.24042 22.7171 5.31262 22.8203 5.41114 22.8938C5.50967 22.9672 5.62926 23.0069 5.75215 23.0069C5.78177 23.005 5.81118 23.0007 5.84006 22.9938C5.86567 23.0011 5.89186 23.0064 5.91826 23.0098H19.6187C19.6422 23.0067 19.6655 23.0019 19.6883 22.9955C19.8253 23.0288 19.9698 23.0064 20.0903 22.9331C20.2107 22.8598 20.297 22.7417 20.3304 22.6048L20.3311 22.6016C20.4926 22.0558 20.788 21.559 21.1905 21.1565C21.593 20.754 22.0898 20.4586 22.6356 20.2971C22.7657 20.2573 22.877 20.1718 22.9489 20.0564C23.0209 19.941 23.0487 19.8035 23.0272 19.6692C23.0348 19.6414 23.0404 19.6132 23.0438 19.5847V15.0179C23.0404 14.9893 23.0347 14.961 23.0266 14.9334C23.0483 14.7991 23.0206 14.6614 22.9486 14.546C22.8766 14.4306 22.7652 14.3451 22.635 14.3055C22.0892 14.144 21.5925 13.8485 21.1901 13.4459C20.7878 13.0433 20.4927 12.5463 20.3317 12.0004C20.2917 11.8695 20.2055 11.7575 20.0891 11.6855C19.9727 11.6134 19.8341 11.5862 19.6992 11.6088C19.6728 11.6014 19.6459 11.5961 19.6187 11.5928H5.91826C5.8895 11.5962 5.86105 11.6019 5.83321 11.6099C5.69892 11.5885 5.56142 11.6164 5.44603 11.6883C5.33065 11.7603 5.24515 11.8715 5.20527 12.0015C5.0437 12.5472 4.74822 13.0439 4.34573 13.4463C3.94324 13.8487 3.44651 14.144 2.90075 14.3055C2.77069 14.3452 2.6594 14.4307 2.58742 14.5461C2.51545 14.6615 2.48765 14.7991 2.50915 14.9334C2.50172 14.9611 2.49638 14.9894 2.49316 15.0179V19.5847C2.49645 19.6115 2.5018 19.638 2.50915 19.664C2.48651 19.7992 2.51375 19.9379 2.58578 20.0545C2.65782 20.1711 2.76975 20.2575 2.90075 20.2977ZM3.63486 15.2496C4.20212 15.0218 4.7174 14.6815 5.14965 14.2493C5.58191 13.817 5.9222 13.3017 6.15003 12.7345H19.3863C19.6143 13.3017 19.9547 13.817 20.387 14.2493C20.8194 14.6815 21.3347 15.0218 21.9021 15.2496V19.3529C21.335 19.581 20.8198 19.9214 20.3876 20.3536C19.9554 20.7858 19.615 21.301 19.3869 21.8681H6.15003C5.92194 21.301 5.58155 20.7858 5.14933 20.3536C4.71711 19.9214 4.20197 19.581 3.63486 19.3529V15.2496Z' fill='%23080808'/%3E%3Cpath d='M12.7684 20.7262C14.6601 20.7262 16.1935 19.1927 16.1935 17.3011C16.1935 15.4094 14.6601 13.876 12.7684 13.876C10.8768 13.876 9.34334 15.4094 9.34334 17.3011C9.34519 19.1919 10.8776 20.7243 12.7684 20.7262ZM12.7684 15.0177C14.0295 15.0177 15.0518 16.04 15.0518 17.3011C15.0518 18.5622 14.0295 19.5845 12.7684 19.5845C11.5074 19.5845 10.485 18.5622 10.485 17.3011C10.485 16.04 11.5074 15.0177 12.7684 15.0177ZM6.48909 18.1574C6.96197 18.1574 7.34536 17.774 7.34536 17.3011C7.34536 16.8282 6.96197 16.4448 6.48909 16.4448C6.01621 16.4448 5.63281 16.8282 5.63281 17.3011C5.63281 17.774 6.01621 18.1574 6.48909 18.1574ZM6.48909 17.0157C6.56479 17.0157 6.63739 17.0457 6.69091 17.0992C6.74444 17.1528 6.77451 17.2254 6.77451 17.3011C6.77451 17.3768 6.74444 17.4494 6.69091 17.5029C6.63739 17.5564 6.56479 17.5865 6.48909 17.5865C6.41339 17.5865 6.34079 17.5564 6.28726 17.5029C6.23373 17.4494 6.20366 17.3768 6.20366 17.3011C6.20366 17.2254 6.23373 17.1528 6.28726 17.0992C6.34079 17.0457 6.41339 17.0157 6.48909 17.0157ZM19.0478 18.1574C19.5207 18.1574 19.9041 17.774 19.9041 17.3011C19.9041 16.8282 19.5207 16.4448 19.0478 16.4448C18.5749 16.4448 18.1915 16.8282 18.1915 17.3011C18.1915 17.774 18.5749 18.1574 19.0478 18.1574ZM19.0478 17.0157C19.1235 17.0157 19.1961 17.0457 19.2496 17.0992C19.3031 17.1528 19.3332 17.2254 19.3332 17.3011C19.3332 17.3768 19.3031 17.4494 19.2496 17.5029C19.1961 17.5564 19.1235 17.5865 19.0478 17.5865C18.9721 17.5865 18.8995 17.5564 18.846 17.5029C18.7924 17.4494 18.7624 17.3768 18.7624 17.3011C18.7624 17.2254 18.7924 17.1528 18.846 17.0992C18.8995 17.0457 18.9721 17.0157 19.0478 17.0157Z' fill='%23080808'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4989_4491'%3E%3Crect width='30' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}
.headeramount {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' viewBox='0 0 22 29' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0942 23.4402H6.03836C5.81098 23.4402 5.63232 23.2616 5.63232 23.0504V1.2869C5.63232 1.05952 5.81098 0.880859 6.03836 0.880859H21.0942C21.3053 0.880859 21.5002 1.05952 21.5002 1.2869V23.0667C21.5002 23.294 21.3053 23.4402 21.0942 23.4402ZM6.41191 22.6606H20.6881V1.69293H6.41191V22.6606Z' fill='%23080808'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0824 21.2152H10.1148C9.88741 21.2152 9.70875 21.0365 9.70875 20.8091C9.70875 20.4031 9.36768 20.0783 8.9454 20.0783H8.8642C8.75051 20.1107 8.62057 20.0945 8.53937 19.997C8.42568 19.9321 8.37695 19.8021 8.37695 19.6885V4.68138C8.37695 4.454 8.55561 4.27534 8.78299 4.27534C9.18902 4.27534 9.53009 3.93427 9.53009 3.51199C9.53009 3.28461 9.70875 3.10596 9.93613 3.10596H17.1961C17.4234 3.10596 17.6021 3.28461 17.6021 3.51199C17.5858 3.93427 17.9107 4.27534 18.3167 4.27534C18.5441 4.27534 18.7227 4.454 18.7227 4.68138V19.6885C18.7227 19.8184 18.6578 19.9646 18.5441 20.0295C18.4629 20.0945 18.3492 20.0945 18.2355 20.0783C17.797 20.0945 17.4884 20.4031 17.4884 20.8416C17.4722 21.0365 17.3097 21.2152 17.0824 21.2152ZM10.4721 20.4356H16.7413C16.9037 19.8671 17.3585 19.4124 17.9432 19.3149V5.02245C17.4234 4.89251 17.0012 4.454 16.855 3.91803H10.2934C10.1473 4.454 9.72499 4.86003 9.20527 5.02245V19.3149C9.82244 19.4124 10.3097 19.8509 10.4721 20.4356Z' fill='%23080808'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5747 14.8488C12.113 14.8488 10.9111 13.6631 10.9111 12.2014C10.9111 10.7397 12.113 9.5378 13.5747 9.5378C15.0365 9.5378 16.2221 10.7397 16.2221 12.2014C16.2058 13.6306 15.0202 14.8488 13.5747 14.8488ZM13.5747 10.3336C12.5353 10.3336 11.707 11.1619 11.707 12.2014C11.707 13.2409 12.5353 14.0692 13.5747 14.0692C14.6142 14.0692 15.4425 13.2409 15.4425 12.2014C15.4263 11.1619 14.5817 10.3336 13.5747 10.3336ZM13.5747 19.6075C12.7139 19.6075 12.0156 18.9091 12.0156 18.0483C12.0156 17.1875 12.7139 16.4891 13.5747 16.4891C14.4355 16.4891 15.1339 17.1875 15.1339 18.0483C15.1014 18.9091 14.4355 19.6075 13.5747 19.6075ZM13.5747 17.3012C13.1525 17.3012 12.8114 17.6423 12.8114 18.0646C12.8114 18.5031 13.1525 18.8279 13.5747 18.8279C13.997 18.8279 14.3381 18.5031 14.3381 18.0646C14.3381 17.6423 13.9808 17.3012 13.5747 17.3012ZM13.5747 7.8487C12.7139 7.8487 12.0156 7.15031 12.0156 6.30576C12.0156 5.44496 12.7139 4.74658 13.5747 4.74658C14.4355 4.74658 15.1339 5.44496 15.1339 6.30576C15.1339 7.15031 14.4355 7.8487 13.5747 7.8487ZM13.5747 5.55865C13.1525 5.55865 12.8114 5.89972 12.8114 6.322C12.8114 6.76052 13.1525 7.08535 13.5747 7.08535C13.997 7.08535 14.3381 6.76052 14.3381 6.322C14.3381 5.89972 13.9808 5.55865 13.5747 5.55865Z' fill='%23080808'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5445 26.0062H3.47244C3.24506 26.0062 3.06641 25.8276 3.06641 25.6002V3.90164C3.06641 3.67426 3.24506 3.49561 3.47244 3.49561H6.03859C6.26597 3.49561 6.44462 3.67426 6.44462 3.90164C6.44462 4.11278 6.26597 4.27519 6.03859 4.27519H3.86224V25.2266H18.1385V23.0665C18.1385 22.8392 18.3171 22.6605 18.5445 22.6605C18.7719 22.6605 18.9343 22.8392 18.9343 23.0665V25.6327C18.9343 25.8276 18.7556 26.0062 18.5445 26.0062Z' fill='%23080808'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9618 28.6049H0.906036C0.678656 28.6049 0.5 28.4262 0.5 28.1989V6.43533C0.5 6.20795 0.678656 6.0293 0.906036 6.0293H3.47218C3.69956 6.0293 3.87822 6.20795 3.87822 6.43533C3.87822 6.66271 3.69956 6.84137 3.47218 6.84137H1.31207V27.8091H15.572V25.6327C15.572 25.4053 15.7507 25.2267 15.9781 25.2267C16.2055 25.2267 16.3841 25.4053 16.3841 25.6327V28.1989C16.3679 28.4262 16.1892 28.6049 15.9618 28.6049Z' fill='%23080808'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}

/* Waiting scree css */

.waitingcard {
display: flex;
flex-direction: column;
pointer-events: auto;
width: 400px;
}
.waitingsec-header {
align-items: center;
justify-content: space-between;
padding: 1rem 1rem;
border-bottom: 1px solid #dee2e6;
background-color: #0D0D0E;
}
.waitingsec-title {
margin-bottom: 0;
line-height: 1.5;
color: #fff;  
}
.waitingsec-body {
position: relative;
flex: 1 1 auto;
color: #667085;
font-size: .875rem;
}
.time-count{
font-size: 3rem;
color: black;
}
.orderid{
font-weight: bold;
font-size: 1.5rem;
color: black;
}
.warning-txt{
color: #DA1E28;
}
.waitingsec-footer {
flex-wrap: wrap;
flex-shrink: 0;
align-items: center;
}

/* New CSS */

body {
background-color: var(--main-50);
font-family: "Urbanist", sans-serif;
}

.bg-card {
background-color: var(--bg-white);
padding: 16px 20px;
min-width: 60%;
max-width: 60%;
margin-top: 2rem;
margin-bottom: 2rem;
border-radius: var(--border-radius-32);
box-shadow: 12px 12px 42px #0d0d0e06;
gap: 2rem ;
}

h1 {
font-size: var(--font-28);
font-weight: 700;
}

.logo {
width: 5.625rem;
object-fit: contain;
}

h2 {
font-size: var(--font-22);
font-weight: 700;
}

.transaction-head {
color: var(--black-sec-400);
}

.summary-box {
background-color: var(--black-sec-50);
padding: 1rem;
border-radius: var(--border-radius-22);
gap: 0.5rem;
}

h3 {
font-size: var(--font-18);
font-weight: 600;
}

.summary-row {
padding-bottom: 0.25rem;
border-bottom: 1px solid var(--black-sec-50);
}

.summary-details {
gap: 0.5rem;
padding: 0.75rem;
background-color: var(--bg-white);
border-radius: var(--border-radius-10);
}

.chip-summary {
gap: 0.5rem;
padding: 0.5rem;
background-color: var(--bg-white);
border-radius: var(--border-radius-10);
border: 1px solid var(--black-sec-100);
}

.chip-text, .time-text {
line-height: 120%;
font-size: var(--font-14);
font-weight: 700;
padding: 0;
margin: 0;
}

.chip-text {
color: var(--black-sec-300);
}

.chip-wrapper {
gap: 0.5rem;
}

.time-chip {
background-color: #D5FFCA;
padding: 0.5rem 0.75rem;
border-radius: 10px;
gap: .5rem;
}

.time-text {
color: #1D9000;
}

.time-wrapper {
gap: 0.25rem;
}

.payment-head {
color: var(--main-700);
margin: 0;
}

.payment-box {
padding: 1rem;
gap: 2rem;
border: 1px solid var(--main-300);
border-radius: var(--border-radius-22);
}

/* .accordion{
gap: 1rem !important;
}

.accordion-head-wrapper {
gap: 0.625rem;
font-weight: 700;
}

.accordion-head {
margin: 0;
padding: 0;
font-size: var(--font-18);
color: var(--main-900);
}

.accordion-button {
padding: 0.5rem 1rem;
}

.accordion-item {
border: transparent;
}





.accordion-body {
background-color: var(--main-50);
border-radius:0px 0px 12px 12px !important;
border-bottom: 1px solid var(--main-500);
} */

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  border-bottom: 1px solid var(--main-500);
  }
  
  .accordion-button.collapsed {
  color: var(--bs-accordion-active-color);
  } 

.accordion-button.collapsed::after {
  background: url("images/expand_circle.png");
  width: 24px;
  height: 24px;
  }
  .accordion-button:not(.collapsed)::after {
  background: url("images/expand_circle.png   ");
  width: 24px;
  height: 24px;
  }


.form-label,.form-label-as-heading  {
font-size: var(--font-18);
font-weight: 600 !important;
margin: 0;
}
.form-label {
color: var(--main-800);
}

.form-label-as-heading {
color: var(--main-700);
}
.form-control, .form-select {
padding: 1rem 0.75rem;
font-size: var(--font-18);
line-height: 120%;
font-weight: 500;
border-radius: var(--border-radius-12);
border: solid 2px var(--main-500);
}

.form-wrapper {
gap: 1rem;
}

.checkout-button {
font-size: var(--font-16) !important;
font-weight: 600;
padding: 1rem 2rem;
border-radius: 6px;
background-color: var(--main-color-50);
border: transparent;
color: var(--bg-white);
gap: 0.75rem;
}

.checkout-button:hover {
background-color: var(--main-color-100) !important;
}
.checkout-button:active {
background-color: var(--main-color-200) !important;
}
.upi-input-wrapper {
gap: 0.5rem;
}

.checkout-button-sm {
padding: 0.375rem 1rem;
font-weight: 700;
font-size: var(--font-14);
color: var(--main-900);
border-radius: 6px;
background-color: var(--main-300);
border: none;
}
.checkout-button-sm:hover {
color: var(--black-sec-500);
background-color: var(--main-400);
}
.checkout-button-sm:active {
color: var(--black-sec-500) !important;
background-color: var(--main-500) !important;
}

.p-method-icon {
height: 1.3rem;
}

.pix-input-wrapper {
gap: 1rem;
}

.form-and-label-wrapper {
gap: 0.25rem !important;
}

.qr-tray {
padding: 0.75rem;
background-color: var(--bg-white);
border-radius: var(--border-radius-12);
}

.copy-icon {
width: 1.25rem;
height: 1.25rem;;
}

.bank-check {
padding: 0.75rem;
background-color: var(--main-300);
border-radius: var(--border-radius-12);
width: 100%;
height: auto;
transition: ease-in-out .15s;
border: none;
}
.bank-check:hover {
background-color: var(--main-400);
transition: ease-in-out .15s;
}
.bank-check:active {
background-color: var(--main-500);
}

.bank-label {
font-size: var(--font-14);
color: var(--black-sec-400);
font-weight: 600;
line-height: 120%;
text-align: left;
}

.netbanking-wrapper {
gap: 1rem;
}

.gap-32-wrapper {
gap: 2rem;
}

.bank-details-heading {
padding-bottom: 0.75rem;
}

.copy-button-togg {
background-color: var(--main-200);
padding:0.5rem 0.75rem;
border: none;
border-radius: var(--border-radius-10);
}
.copy-button-togg:hover {
background-color: var(--main-300);
}
.copy-button-togg:active {
background-color: var(--main-400);
}

.head-n-tag {
gap: 0.375rem;
}

.head-bank-details {
font-size: var(--font-14);
color: var(--black-sec-300);
font-weight: 600;
padding: 0px;
margin: 0px;
line-height: 120%;
}

.tag-bank-details {
font-size: var(--font-18);
color: var(--black-sec-500);
font-weight: 600;
padding: 0px;
margin: 0px;
line-height: 120%;
}

.info-row {
padding-bottom: 0.5rem;
border-bottom: 1px solid var(--black-sec-100);
}

.contents-bank-transfer {
gap: 1.5rem;
}

.bank-depo-gap16 {
gap: 1rem;
}

.down-button {
width: 20px;
}

.arrow-nterbanking {
width: 2rem;
height: 2rem;
}

.banking-logo {
height: 2.5rem;
width: 2.5em;
object-fit: contain !important;
}

.wallets-icon {
width: 4rem;
object-fit: contain;
}

.alipay-wrapper {
gap: .5rem;
}

.alipay-content-wrapper {
gap: 1rem;
}

.alipay-info-tray {
background-color: var(--bg-white);
border: 1px solid var(--main-100);
gap: 0.25rem;
padding: 1rem;
border-radius: var(--border-radius-10);
}
.head-alipay-details {
font-size: var(--font-14);
color: var(--main-600);
font-weight: 600;
margin: 0;
}
.tag-alipay-details {
font-size: var(--font-18);
color: var(--main-800);
margin: 0;
font-weight: 600;
}
.alipay-info-wrapper {
gap: 1rem;
}

.qrhelp-text {
font-size: var(--font-14);
font-style: italic;
font-weight: 500;
color: var(--main-800);
} 

.card-payment-form {
gap: 1.5rem;
}

.time-chip-alt {
display: none !important;
}

.overlay-div, .scroll-ind-arrow {
display: none;
}

.copy-button-togg {
display: flex;
justify-content: center;
align-items: center;
}

.upi-expiry-img {
width: 10%;
}

.upi-expiry-tag {
font-size: var(--font-16);
color: var(--main-600);
font-weight: 700;
text-align: center;
}

.expiry-transaction-wrapper {
gap: .5rem;
}

.kyc-tag {
color: var(--black-sec-400);
margin: 0;
font-weight: 600;
}

.alert-chip-with-icon {
padding: 0.375rem 0.5rem;
background-color: #FEFFC1;
border-radius: var(--border-radius-10);
}

.danger_icon {
width: 1.4rem;
}

.danger-text {
color: #7C7E00;
}

.aadhar_logo {
object-fit: contain;
}

.link-kyc {
color: var(--main-600);
font-weight: 700;
}

.state-descrition {
color: var(--main-900);
font-weight: 700;
font-size: var(--font-18);
}

.buttons-zero {
display: none !important;
}

.checkout-cancel {
background: transparent;
color: #FF2E00;
text-decoration: underline;
font-weight: 800;
}

.checkout-cancel:hover {
background: transparent;
color: #d42700;
text-decoration: underline;
font-weight: 800;
}

.checkout-cancel:active {
background: #ffddd4 !important;
color: #d42700 !important;
text-decoration: underline;
font-weight: 800;
}

.payment-and-cancel {
gap: 1rem;
}

.timer-icon {
width: 1.125rem;
}

.cancel_btn {
  background-color: #ffecec !important;
  color: #ff0c0c !important;
  border-style: none !important;
}
.cancel_btn:hover {
  background-color: #ffd9d9 !important;
}
.cancel_btn:active {
  background-color: #ffc8c8 !important;
}

.fawry-icon {
  height: 3rem;
}
.fawry-check {
  width: fit-content;
  padding: .75rem 2rem !important;
}

@media screen and (min-width: 520px) and (max-width: 990px) {

.bg-card {
  min-width: 95% !important;
  border-radius: var(--border-radius-22);
}

.time-chip-alt {
  display: none;
}

.heading-wrapper {
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start !important;
}

.upi-expiry-img {
  width: 15%;
}
.fawry-check {
  width: fit-content;
}


}


@media screen and (min-width: 0px) and (max-width: 520px) {

h1 {
  font-size: var(--font-22);
}

h2 {
  font-size: var(--font-18) ;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: var(--font-16);
}

.chip-text {
  font-size: var(--font-12);
}


.bg-card {
  min-width: 95% !important;
  border-radius: var(--border-radius-22);
  margin-bottom: 4rem;
}

.summary-box, .payment-box {
  border-radius: var(--border-radius-12);
}

.heading-wrapper {
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start !important;
}

.time-chip {
  display: none !important;
}

.time-chip-alt {
  display: flex !important;
  background-color: #D5FFCA;
  padding: 0.75rem 1rem;
  gap: .5rem;
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 100;
}

.accordion-head {
  font-size: var(--font-16);
}

.form-label, .form-control, .form-select {
  font-size: var(--font-14);
}

.form-control, .form-select {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-10);
}

.checkout-button-sm {
  padding: 0.25rem .5rem;
}

.checkout-button {
  padding: 0.75rem 1rem;
  font-size: var(--font-14) !important;
  width: 100%;
  justify-content: center;
}

.small-button-wrapper {
  gap: 1rem;
}

.button-wrapper {
  width: 100%;
}

.qr-tray, .qr-image {
  width: auto !important;
  max-width: 100%;
}
.form-wrapper {
  padding: 0 !important;
}
.pix-qr-holder {
  flex-direction: column;
  gap: 1rem;
}

.payment-box {
  gap: 1rem;
}

.banking-logo {
  width: 1.7rem;
}

.bank-check {
  padding: .5rem;
  gap: .25rem;
}

.relative-div {
  position: relative;
}
.netbanking-no-overflow {
  max-width: 100%;
  overflow: scroll;

  z-index: 1;
  padding-bottom: .5rem;
}
.scroll-ind-arrow {
  display: block;
}
.overlay-div {
  display: block;
  background: linear-gradient(to right, rgba(239, 240, 247, 0), rgb(239,240,247));
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 2;
  height: 100%;
  width: 20%;
}

.netbanking-logo-and-ico {
  gap: 2rem;
}

.head-bank-details {
  font-size: var(--font-12);
}

.tag-bank-details {
  font-size: var(--font-16);
}

.alipay-info-tray {
  padding: .5rem;
}

.head-alipay-details {
  font-size: var(--font-14);
}

.tag-alipay-details {
  font-size: var(--font-16);
}

.alipay-info-wrapper {
  width: auto;
}

.upi-expiry-img {
  width: 20%;
}

.kyc-tag {
  color: var(--black-sec-300);
  font-size: var(--font-16); 
 }

 .kyc-head {
  flex-direction: column-reverse;
  gap: 1rem;

 }

 .state-descrition {
  color: var(--main-900);
  font-weight: 700;
  font-size: var(--font-16);
  text-align: center;
}

.logo {
  width: 4.7rem;
}

.relative-div {
  position: relative;
}
.netbanking-no-overflow {
  overflow: scroll;
  z-index: 1;
  padding-bottom: .5rem;
}
.overlay-div {
  display: block;
  background: linear-gradient(to right, rgba(239, 240, 247, 0), rgb(239,240,247));
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 2;
  height: 100%;
  width: 20%;
}
.bank-label {
  font-size: var(--font-12);
}

.buttons-zero {
  display: block !important;
  opacity: 0;
}

.pix-input-wrapper {
  width: 100% !important;
}
.fawry-check {
  width: fit-content;
}
}


@media screen and (min-width: 0px) and (max-width: 1170px) {
  .pix-qr-holder {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .pix-label {
    width: 100%;
    text-align: center;
  }

}